@model IEnumerable<WebApplicationExamTest.Models.Class>


    <h1><strong>Classes</strong></h1>
@*@{
    ViewData["Title"] = "Index";
}



@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
@*    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td >
                   
              @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
             
              <a style="color: white; font-weight:bold" class="btn btn-primary"  onclick="Redirect(@item.Id)">Students</a>
            </td>
        </tr>
}
    </tbody>
</table>


<script>


      function Redirect(id) {
            window.location.href = '/Class/ViewStudents?SetId=' + id;
      }

     
</script>