@model IEnumerable<WebApplicationExamTest.Models.Subject>

@{
    ViewData["Title"] = "Index1";
}

<h1><strong>Subjects</strong> </h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
               @* <input type="hidden" asp-for="@item.Id" />
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@

                 <a style="color: white; font-weight:bold" class="btn btn-success" onclick="Redirect(@item.Id)">Add exam</a> 
              <a  style="color: white; font-weight:bold" class="btn btn-primary" onclick="Redirect1(@item.Id)">See exam</a>
            </td>
        </tr>
}
    </tbody>
</table>


    <script>

          function Redirect(id) {
            window.location.href = '/Exam/Create?SetId=' + id;

        }

            function Redirect1(id) {
            window.location.href = '/subject/ViewAnswer?SetSubjectId=' + id;
      }


    </script>