@model IEnumerable<WebApplicationExamTest.Models.Answer>



 
<div class="row">
    
 
     <div class="col-md-9" style="max-width:800px">
      @foreach (var item in Model)
        {
      
            <input asp-for="@item.Mark" readonly class="form-control" />
            <input asp-for="@item.Comment" style="margin-top:20px" readonly class="form-control" />
           
    
            <div style="width:300px">

                <input asp-for="@item.StudentAnswer" readonly style="height:300px;width:1000px;margin:0px; margin-top:20px" class="form-control" />
             
            </div>
  
  
         @*@Html.Hidden("StudentAnswer",item.StudentAnswer)
         @Html.Hidden("StudentId",item.StudentId)
            @Html.Hidden("SubjectId",item.SubjectId)*@
         @* <p style="display:none">@item.StudentId</p>  *@
}
  </div>
  </div>


 
