@model IEnumerable<WebApplicationExamTest.Models.Answer>

@{
    ViewData["Title"] = "ViewAnswer";
}

<h1>ViewCorrectedExam</h1>

 
<div class="row">
    
 
     <div class="col-md-9" style="max-width:800px">
      @foreach (var item in Model) 
{
    <p> @item.StudentAnswer</p>
       <p> @item.Mark</p> <br />
          <p> @item.Comment</p>    
  
         @*@Html.Hidden("StudentAnswer",item.StudentAnswer)
         @Html.Hidden("StudentId",item.StudentId)
            @Html.Hidden("SubjectId",item.SubjectId)*@
         @* <p style="display:none">@item.StudentId</p>  *@
}
  </div>
  </div>


 
