@*@model IEnumerable<WebApplicationExamTest.Models.Answer>*@
@model WebApplicationExamTest.Models.Answer
@*
    @{
    ViewData["Title"] = "ViewAnswer";
    }*@

<h1><strong>Answer</strong></h1>

<form asp-action="ViewAnswer">
    <div class="row">
        <div class="col-md-9" style="max-width:800px">
            @* @foreach (var item in Model)*@
            @* {*@
             @Model.StudentAnswer
            @*
                @Html.Hidden("StudentAnswer",item.StudentAnswer)
                @Html.Hidden("StudentId",item.StudentId)
                @Html.Hidden("SubjectId",item.SubjectId)*@

            @* }*@

                @Html.Hidden("StudentAnswer",Model.StudentAnswer)
                @Html.Hidden("StudentId",Model.StudentId)
                @Html.Hidden("SubjectId",Model.SubjectId)

        </div>


        <div class="col-md-3">
            @Html.Editor("Mark", new { htmlAttributes = new {@class = "form-control", placeholder = "20 max"}})
            @*<input  class="form-control" />*@
            @*  <input  class="form-control"style="height:800px;width:255px" />*@
            @Html.Editor("Comment", new { htmlAttributes = new {@class = "form-control",@style ="height:800px;width:255px"}})
            
            @if (Model.Done != true)
            {
                <input type="submit" value="Create" class="btn btn-primary" />
            }
            else
            {
                <input style="display:none" type="submit" value="Create" class="btn btn-primary" />
            }

        </div>

    </div>
</form>



